<body>
<div>
    <div>
        <div>
            <div>
                <div>
                    <form class="form-signin" method="post" th:action="@{'/'+ ${id} + '/add_screening'}">
                        <p th:utext = "#{admin.movie.name}"></p>
                        <div class = "form-group">
                            <div>
                                <input type="datetime-local" id="time" name="time"
                                       max="2022-01-00">
                                <label for="time" th:utext = "#{user.todate}"></label>
                            </div>
                            <div class = "form-group">
                                <label for="base_cost" th:utext="#{admin.screening.price}"></label>
                                <input type="text"
                                       name="base_cost"
                                       class="form-control"
                                       id="base_cost">
                            </div>
                            <button type="submit" class="btn btn-dark" th:utext="#{admin.screening.add}"></button>
                            <div class="text-right">
                                <a class="text-info" href="/home" th:utext="#{user.back}"></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>